videos
/isaacgymenvs/logs
*train_dir*
# *wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/isaacgymenvs/tasks/__pycache__
/isaacgymenvs/utils/__pycache__
/isaacgymenvs/tasks/base/__pycache__
/tools/format/.lastrun
*.pyc
_doxygen
/rlisaacgymenvsgpu/logs
*.pxd2
/tests/logs
logs*
nn/
runs/
runs_save/
.idea
outputs/
*.hydra*
/isaacgymenvs/wandb

debug/
figures/
cluster_scripts/
cluster_scripts/logs
cluster_scripts/sbatch_tmp
